{% extends "base.html" %}
{% block title %}About us - Team !{% endblock title %}
{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f57c;
        background-image: url("/static/background_gallary.jpg");
    }
    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffffc8;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h1 {
        text-align: center;
        color: #333;
        
    }
    p {
        font-size: 18px;
        line-height: 1.6;
        color: #666;
        margin-bottom: 20px;
    }
    .team-member {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .team-member img {
        border-radius: 50%;
        margin-right: 20px;
        width: 100px;
        height: 100px;
    }
    .team-member h2 {
        color: #333;
        margin: 0;
    }
    .team-member p {
        margin: 5px 0 0;
        font-size: 16px;
        color: #777;
    }
</style>

<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our company! This is Mayank Joshi a python developer, follow and contact me for projects.</p>
    <div class="team-member">
        <img src="member1.jpg" alt="member img">
        <div>
            <h2>Mayank Joshi</h2>
            <p>CEO & Founder</p>
        </div>
    </div>
    <div class="team-member">
        <img src="team-member2.jpg" alt="member img">
        <div>
            <h2>Mayank Joshi</h2>
            <p>Role 2</p>
        </div>
    </div>
    <div class="team-member">
        <img src="team-member3.jpg" alt="member img">
        <div>
            <h2>Mayank Joshi</h2>
            <p>Role 3</p>
        </div>
    </div>
</div>
{% endblock body %}